<% include ./partials/header %>


<div style="margin: 15% auto">
    <h1 style="text-align:center">Weibo Search Engine</h1>
    <div style="width: 60%; margin: 25px auto;">
        <form class="" role="search" action="/results-tweet" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="query">
            </div>
            <!--<button type="submit" class="btn btn-default" style="float: right">Submit</button>-->
        </form>
    </div>
</div>
<% include ./partials/footer %>